<div class="catalog-imem">
  <div class="content-item-wraper">
    <%= image_tag('w1.png') %>
    <p><a href="#">Охотничье ружье ИЖ-27</a>
      <br/>
      <span>15000 Р.</span>
    </p>
  </div>
</div>