<div class="news-item">
  <div class="news-date">16<br/>июня</div>
  <div class="news-content">
    <h2>Скидки для постоянных покупателей</h2>
    <p>Размер скидки для каждого покупателя зависит от общей суммы его покупок. Как только сумма общих покупок достигнет определенной суммы, то покупатель получает фиксированную... скидку...</p>
    <span class="news-read-more"><a href="#">ЧИТАТЬ НОВОСТЬ</a></span>
  </div>
</div>