<div class="catalog-menu">
  <!-- catalog_menu -->
  <%= render 'partials/catalog_menu' %>
  <input type="search" class="search"></input>
  <input type="button" class="search-btn" value="Поиск"></input>
  <!--<div class="search-btn">Поиск</div>-->
  <div class="clear"></div>
  <br/>
  <a href="#" class="ext-search">Расширенный поиск</a>

  <div class="adv">
    <p>Магазин принимает к оплате пластиковые карты</p>
    <%= image_tag('mc.png') %>
    <%= image_tag('visa.png') %>
  </div>

  <div class="adv">
    <p><a href="">У нас вы можете приобрести подарочные сертификаты</a></p>
    <%= image_tag('cert.png') %>
  </div>
</div>